<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/filepond/dist/filepond.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='txtfile.js') }}"></script>

</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    MAGUS <small>论文编辑</small>
                </h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="{{ url_for('.pic') }}">轮播图编辑</a></li>
                <li><a href="{{ url_for('.member') }}">成员编辑</a></li>
                <li><a href="{{ url_for('.news') }}">快讯编辑</a></li>
                <li><a href="{{ url_for('.paper') }}">论文编辑</a></li>
                <li><a href="{{ url_for('.patent') }}">专利编辑</a></li>
                <li><a href="{{ url_for('.competition') }}">竞赛编辑</a></li>
                <li><a href="{{ url_for('.partner') }}">合作方</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <pre>
        说明：
            添加链接：##论文文件名##  eg:##xxx.pdf##
            添加视频链接：$$视频文件名$$ eg:$$xxx.mp4$$
            添加视频链接：@@海报文件名@@ eg:@@xxx.png@@
            添加数据集链接：&&数据集文件名&& eg:&&xxx.zip&&
            字符数小于15的行将会被判断为小标题，第一个小标题下的论文需附加图片
            附加图片的格式为 图片名|论文
            修改后点击预览，可以进入预览界面进行发布。
    </pre>
    <form id="form" method="post">
        <div class="col-md-6 column">
            <div class="row" id="row_left"><style>
                #row_left {
                    margin-right: 0;
                    margin-left: 5;
                }
            </style>
            <h3 class="text-center">中文论文编辑</h3>
            <div id="zh-editormd">
                <textarea name="content_zh" id="content_zh">{{ content_zh }}</textarea>
            </div>
            </div>
        </div>

        <div class="col-md-6 column">
            <div class="row"  id="row_right"> <style>
                #row_right {
                    margin-right: 5;
                    margin-left: 0;
                }
            </style>
            <h3 class="text-center">英文论文编辑</h3>
            <div id="editormd_en">
                <textarea name="content_en" id="content_en">{{ content_en }}</textarea>
            </div>
            </div>
        </div>
    </form>
        <div class="col-md-12 column">
        <div class="col-md-2 column">
            <div class="row no-gutter">
            <button class="btn btn-primary" type="button" onclick="submit_txt('form','/admin/update_paper/')">预览</button>
            </div>
        </div>
        <div class="col-md-2 column">
            <button hidden type="button" id="preview" disabled="disabled"
                    onclick="location.href='{{ url_for('.paper_preview') }}'">预览
            </button>
        </div>
        <div class="col-md-8 column"></div>
        <div style=" height:40px "></div>
    </div>
    <script type="text/javascript">
        var Editor_zh, Editor_en;
        $(function () {
                Editor_en = editormd("editormd_en", {
                    width: "100%",
                    height: 640,
                    syncScrolling: "single",
                    path: "{{ url_for('static',filename='editormd/lib/') }}",
                    imageUpload: false,
                    autoFocus : false,
                });
                Editor_zh = editormd("zh-editormd", {
                    width: "100%",
                    height: 640,
                    syncScrolling: "single",
                    path: "{{ url_for('static',filename='editormd/lib/') }}",
                    imageUpload: false,
                    autoFocus : false,
                    toolbarIcons : function() {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return ["undo", "redo", "|", "bold", "hr", "|", "preview", "watch", "|",  "info", "testIcon", "testIcon2", "file", "faicon", "||","testIcon"]
                    },
                    onload : function() {
                            console.log('onload', this);
                            this.unwatch();
                        }
                });
        });
    </script>
</div>

<div class="container">
    <div class="content">
        <input type="file" name="file" id="file" style="visibility: hidden"/>
    </div>
    <div style=" height:100px "></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>



<script>
    $(function () {
        // file
        const fadeDuration = 500;
        localStorage.setItem('uniqueFileIds', JSON.stringify([]));
        let fileIds = [];
        $.fn.filepond.registerPlugin(FilePondPluginFileValidateSize, FilePondPluginFileValidateType);
        $('#file').filepond({
            maxFiles: 5,
            dropValidation: true,
            allowDrag: true,
            allowMultiple: true,
            labelIdle: '把文件拖到这儿 或 浏览本地文件',
            labelInvalidField: '包含了无效文件',
            labelFileWaitingForSize: '正在获取文件大小',
            labelFileSizeNotAvailable: '获取不到orz',
            labelFileLoading: '正在加载文件',
            labelFileLoadError: '加载错误！',
            labelFileProcessing: '文件上传中',
            labelFileProcessingComplete: '上传完成',
            labelFileProcessingAborted: '取消上传啦',
            labelFileProcessingError: '上传时遇到错误',
            labelFileProcessingRevertError: '撤销时遇到错误',
            labelFileRemoveError: '删除时遇到错误',
            labelTapToCancel: '取消 👉',
            labelTapToRetry: '重试 👉',
            labelTapToUndo: '撤销 👉',
            labelButtonRemoveItem: '',
            labelButtonAbortItemLoad: '',
            labelButtonRetryItemLoad: '',
            labelButtonAbortItemProcessing: '',
            labelButtonUndoItemProcessing: '',
            labelButtonRetryItemProcessing: '',
            labelButtonProcessItem: '',
            maxFileSize: '50MB',
            maxTotalFileSize: '100MB',
            labelMaxFileSizeExceeded: '这个文件太大啦！',
            labelMaxFileSize: '最多最多只能 {filesize} 哦',
            labelMaxTotalFileSizeExceeded: '文件加起来太大了',
            labelMaxTotalFileSize: '最多只能 {filesize} 啦',
            server: {
                url: '{{ host }}',
                process: {
                    url: "{{ url_for('handle_files') }}",
                    method: 'POST',
                    onload: (response) => {
                        response = JSON.parse(response);
                        if (response.code === 0) {
                            let fileId = response.data;
                            fileIds.push(fileId);
                            return fileId;
                        } else if (response.code === -1) {
                            $('#file-type-warning').fadeIn(fadeDuration);
                            setTimeout(() => {
                                $('#file-type-warning').fadeOut(fadeDuration);
                            }, 3000);
                            console.log(response.msg);
                        } else {
                            console.log(response.msg);
                        }
                    },
                    onerror: (response) => {
                        console.log(response);
                    }
                },
                revert: {
                    url: '{{ url_for('handle_files') }}',
                    onload: (response) => {
                        response = JSON.parse(response);
                        let fileId = response.data;
                        let index = fileIds.indexOf(fileId);
                        if (index > -1) {
                            fileIds.splice(index, 1)
                        }
                        return fileId;
                    }
                },
                fetch: null,
                load: null,
                restore: null
            }
        });
    });
</script>
</body>
</html>
