<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-theme.css">

    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					MAGUS <small>后台管理</small>
				</h1>
			</div>
			<ul class="breadcrumb">
				<li> <a href="#">轮播图编辑</a> </li>
                <li> <a href="">成员编辑</a> </li>
                <li> <a href="#">快讯编辑</a> </li>
				<li> <a href="#">论文编辑</a> </li>
                <li> <a href="#">专利编辑</a> </li>
                <li> <a href="#">竞赛编辑</a></li>
                <li> <a href="">合作方</a> </li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>